<h2>History</h2>
<br>
<div class="row">
	<div class="col-md-5 col-sm-5 col-xs-12">
		<p>
			Our community has grown out of a vision, since 2006 to see an Orthodox Christian Church established in Luton, to meet the pastoral needs of Russians, Ukranians and Bulgarians and a growing number of British Orthodox believers. We are mostly of British and Ukrainian backgrounds.
			<br>
			In 2013 and with the blessing of Archbishop Elisey of Sourozh, St Alban was chosen as the Patron Saint of our Luton Parish. St Albans witness, as a great martyr for The Faith, immediately connects us with the British Isle's ancient Orthodox Christian Tradition and our present day Orthodox Christian witness for Christ.  As a young parish we are encouraged by the faithfulness of St Alban; and, while seeking his prayers for us, he reminding us of our oneness in Christ with all the Saints.
		</p>
		<br>
	</div>
	<div class="col-md-7 col-sm-7 col-xs-12">
				<img class="img-thumbnail center-block" src="images/ROCCL.jpg"/>
	</div>
</div>
<h2>Our saint</h2>
<br>
<div class="row">
	<div class="col-md-3 col-sm-3 hidden-xs">
		<img class="img-thumbnail center-block" src="images/StAlban.jpg"/>
	</div>
	<div class="col-md-9 col-sm-9 col-xs-12">
		<p>
			From <a href = "https://en.wikipedia.org/wiki/Saint_Alban">Wikipedia</a>:
			<br><br>
			St Alban lived in Verulamium in Roman Britain, sometime during the 3rd or 4th century. At that time Christians suffered "cruel persecution". St Alban met a Christian priest fleeing from "persecutors" and sheltered him in his house for a number of days. The priest prayed and "kept watch" day and night, and St Alban was so impressed with the priest's faith and piety that he found himself emulating the priest and soon converted to Christianity. Eventually it came to the ears of an unnamed "impious prince" that Alban was sheltering the priest. The prince gave orders for Roman soldiers to make a strict search of Alban's house. As they came to seize the priest, Alban put on the priest's cloak and clothing and presented himself to the soldiers in place of his guest.
			<br><br>
			St Alban was brought before the judge. St Alban was sentenced to endure all the punishments that were to be inflicted upon the priest unless he would comply with the pagan rites of their religion. St Alban refused, and declared, "I worship and adore the true and living God who created all things." (The words are still used in prayer at St Alban's Abbey).
			<br><br>
			The enraged judge ordered St Alban scourged, thinking that a whipping would shake the constancy of his heart, but Alban bore these torments patiently and joyfully. When the judge realized that the tortures would not shake his faith, he ordered for Alban to be beheaded.
			<br><br>
			St Alban was led to execution, and he presently came to a fast-flowing river that could not be crossed (believed to be the River Ver). There was a bridge, but a mob of curious townspeople who wished to watch the execution had so clogged the bridge that the execution party could not cross. Filled with an ardent desire to arrive quickly at martyrdom, St Alban raised his eyes to heaven, and the river dried up, allowing St Alban and his captors to cross over on dry land. The astonished executioner cast down his sword and fell at St Alban's feet, moved by divine inspiration and praying that he might either suffer with St Alban or be executed for him.
			<br><br>
			When St Alban reached the summit of the hill, he began to thirst and prayed God would give him water. A spring immediately sprang up at his feet. It was there that his head was struck off, as well as that of the first Roman soldier who was miraculously converted and refused to execute him. However, immediately after delivering the fatal stroke, the eyes of the second executioner popped out of his head and dropped to the ground along with St Alban's head so that this second executioner could not rejoice over St Alban's death.
		</p>
	</div>
</div>




