
<h2>Parish address</h2>
<br>
<p class="lead">
St Thomas R.C. Church
<br>
(next to Caddington Sports and Social Club)
<br>
Manor Road
<br>
Caddington, Luton, UK
<br>
<b>LU1 4HH</b>
<br><br>
</p>
<div class = "alert alert-success">
<p class="lead">
Large parking available on site
</p>
</div>
<br>
<div class="responsive-iframe-container">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4928.122728699567!2d-0.455396!3d51.859836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487648a2f10edf9f%3A0xc23f978eac209609!2sManor+Rd%2C+Caddington%2C+Luton+LU1+4HH%2C+UK!5e0!3m2!1sen!2sus!4v1499939453859" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>