<h2>Contact us</h2>
<h3>Parish Priest</h3>
<div class="row">
<div class="col-md-3 col-sm-4">
<!-- <img class="img-thumbnail" src="images/fr-raphael.jpg"/> -->
<!-- <br><br> -->
</div>
<div class="col-md-9 col-sm-8">
<p class="lead">
Fr Anthony Ilin
<br>
<span class="glyphicon glyphicon-envelope"></span>
<a href="mailto:anton.ilin@gmail.com" target="_blank">anton.ilin@gmail.com</a>
<br>
<span class="glyphicon glyphicon-earphone"></span> 07946511467
</p>
<br>
<!-- <p>
The spiritual leader of our parish is Father Raphael, who is the last priest to be ordained by the Archbishop Antony of Sourozh. Fr Raphael, who hails from Bedfordshire, and his American-born wife Carolyn are themselves converts to Orthodoxy.
</p> -->
</div>
</div>
<hr>
<h3>Church Warden</h3>
<div class="row">
<div class="col-md-3 col-sm-4">
<!-- <img class="img-thumbnail" src="images/aidan.jpg"/>
<br><br> -->
</div>
<div class="col-md-9 col-sm-8">
<p class="lead">
Paul Fowler
<br>
<span class="glyphicon glyphicon-envelope"></span>
<a href="mailto:pf2253@aol.com" target="_blank">pf2253@aol.com</a>
<br>
<span class="glyphicon glyphicon-earphone"></span> 07938878977
</p>
<br>
</div>
</div>
