<h2>Welcome to our website!</h2>
<br>
<div class="row">
<div class="col-md-6 col-sm-6">
<p class = "lead">
We are an Orthodox Parish in Luton, UK of the <a href = "http://www.sourozh.org/">Diocese of Sourozh</a> - the diocese of the <a href = "https://en.wikipedia.org/wiki/Russian_Orthodox_Church">Russian Orthodox Church</a> which covers the British Isles. Our services are held in general, twice each month: the Typikha on the <b>first</b> Sunday and the Divine Liturgy on the <b>third</b> Sunday. Both services begin at <b>10:30am</b>.
</p>
<h3>The Parish</h3>
<p>
Our bishop is Bishop Matthew of Sourozh and the community is served by Fr. Anthony Ilin. For the most part our people are of British and Russian background and our services are celebrated in English, the lingua franca of the community, with some Church Slavonic. You are most welcome to visit us or to make your spiritual home with us.
</p>
<h3>Join Us</h3>
<p>
If you are just a visitor, you are welcome to explore the website and to learn more about the Parish. If you are our parishioner and you would like to receive regular newsletters and updates from us, please like our Facebook page or contact our church warden by email.
</p>
<!-- <img class="img-thumbnail" src="images/parish-photo1.jpg"/> -->
</div>
<div class="hidden-xs hidden-sm col-md-1 col-sm-6">
</div>
<div class="col-md-5 col-sm-6">
<iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FThe-Orthodox-Parish-of-St-Alban-Luton-128412237265880%2F&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="510" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
</div>

